@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: #fe9738;
  --color-primary-200: #e77c2f;
  --color-primary-300: #c1571115;
  --color-primary-400: #c1571188;
  --color-primary-500: #c15711cc;
  --color-primary-600: #c15711;
  --color-gray-100: #495057;
}
body {
  font-family: "Roboto", sans-serif;
}
.burger-builder {
  width: 50%;
  text-align: center;
  height: 22rem;
  overflow-x: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #d3732eaf transparent;
}
.burger-builder::-webkit-scrollbar {
  width: 5px;
}
.burger-builder::-webkit-scrollbar-track {
  background: transparent;
}
.burger-builder::-webkit-scrollbar-thumb {
  background-color: #d3732eaf;
  border-radius: 20px;
  border: transparent;
}

.controls {
  background-color: var(--color-primary-300);
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
}
.controls div {
  display: flex;
  justify-content: space-between;
}
.controls div p {
  font-size: 0.9rem;
  color: var(--color-primary-200);
  pointer-events: none;
}
.controls .ctrl {
  display: flex;
}
.controls .ctrl div {
  width: 2rem;
  height: 1.5rem;
  border: none;
  border: 0.1rem solid #d3732eaf;
  border-radius: 0.3rem;
  transition: all ease 0.2s;
  color: #c15711;
  font-size: 1rem;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0.5rem 1rem;
}
.controls .ctrl div:hover {
  background-color: #d3732eaf;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

/* media queries */


@media (max-width: 768px) {
  .burger-builder {
    width: 100%;
  }
}
