@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: #fe9738;
  --color-primary-200: #e77c2f;
  --color-primary-300: #c1571115;
  --color-primary-400: #c1571188;
  --color-primary-500: #c15711cc;
  --color-primary-600: #c15711;
  --color-gray-100: #495057;
}
body {
  font-family: "Roboto", sans-serif;
}
.burger-builder {
  width: 50%;
  text-align: center;
  height: 22rem;
  overflow-x: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #d3732eaf transparent;
}
.burger-builder::-webkit-scrollbar {
  width: 5px;
}
.burger-builder::-webkit-scrollbar-track {
  background: transparent;
}
.burger-builder::-webkit-scrollbar-thumb {
  background-color: #d3732eaf;
  border-radius: 20px;
  border: transparent;
}
/* media queries */

@media (max-width: 768px) {
  .burger-builder {
    width: 100%;
  }
}
